{% extends 'base.html.twig' %}

{% block body %}

    {% if drawn is defined %}

        {% if drawn == null %}
            <div class="alert alert-danger">
                <h3>Not items left in the hat</h3>
            </div>
        {% else %}
            <div class="alert alert-info">
                <h3>{{ drawn }}</h3>
                <p>You just drew this from the hat.</p>
            </div>
        {% endif %}
    {% endif %}

    <a href="/" class="btn btn-primary">Got it, take me back</a>

{% endblock %}
