{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3>
                            {{  hat.inside|length }} item{{  hat.inside|length == 1 ? '' : 's' }} available
                        </h3>

                        <div class="form-group">
                            <form method="post" action="/draw">
                                <button type="submit" class="btn btn-primary">Draw from hat</button>
                            </form>
                        </div>

                        <h3>
                            {{  hat.outside|length }} drawn item{{  hat.outside|length == 1 ? '' : 's' }}
                        </h3>

                        <form method="post" action="/fill" onsubmit="return confirm('Once you put everything back into the hat, everyone will have to give up whatever they drew from the hat earlier.\n\nDo you still want to put everything back?')">
                            <div class="form-group">
                                <button type="submit" class="btn btn-sm btn-warning">Put everything back in the hat</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">

                        <h3>
                            Add to the hat
                        </h3>

                        <form method="post" action="/add">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Add a new item to the hat..." name="new-value" />
                            </div>
                            <div class="form-group">
                                <button class="btn btn-secondary" type="submit">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form method="post" action="/clear" onsubmit="return confirm('Are you sure you want to remove everything and start again?')">
        <div class="form-group" style="text-align: right; padding: 12px;">
            <button type="submit" class="btn btn-sm btn-danger">Clear everything</button>
        </div>
    </form>

{% endblock %}
